<header>
  <div class="header-bar">
    <div class="logo">
      <a href="/top">poteshare</a>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a class="login-btn" href="/login">ログイン</a></li>
        <li><a class="new-btn" href="/users/new">新規登録</a></li>
      </ul>
    </nav>
  </div>
</header>
