<div class="search-container">
  <h1>検索結果</h1>

  <table>
    <tbody>
      <% @posts.each do |post| %>
        <div> 
          <td><%= image_tag post.image_url,size: '300x200'  %></td>
          <tr>
            <td>ルーム名：
              <%= link_to post, method: :get do %>
                <%= post.roomname %>
              <% end %>
            </td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
</div>